<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Mini Wordpress</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>

<body>
    <div id="app">

        <!-- <div id="loginPage" v-show="!isLogin"> -->
            <!-- <div class="wrapper">
                <div class="containerLogin">
                    <div class="overlay">
                        <div class="form form__login">
                            <form v-on:submit.prevent="login">
                                <label>E-MAIL</label>
                                <input v-model="email" type="text">
                                <label>PASSWORD</label>
                                <input v-model="password" type="password"><br />
                                <input type="submit" value="LOG IN">
                            </form>
                        </div>
                        <div class="form form__signup">
                            <form v-on:submit.prevent="register">
                                <label for="email">E-MAIL</label>
                                <input v-model="email" type="email">
                                <label for="password">PASSWORD</label>
                                <input v-model="password" type="password"><br />
                                <input type="submit" value="REGISTER">
                            </form>
                        </div>
                    </div>
                    <div class="box left">
                        <h4>Start working!</h4>
                        <button class="btn btn__login" v-on:click="removeOverlay">LOG IN</button>
                    </div>
                    <div class="box right">
                        <h4>Need an account?</h4>
                        <button class="btn btn__signup" v-on:click="moveOverlay">REGISTER</button>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->

        <!-- <div id="homePage" v-show="isLogin"> -->
            <!-- <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-custom">
                    <a class="navbar-brand" href="#"> <i class="fab fa-wordpress-simple"></i> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <div id="right-navbar">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <i class="far fa-plus-square"></i> Write </button>
                            <div style="font-size: 30px;">
                                <a href="#"> <i class="far fa-user-circle pl-3"></i> </a>
                            </div style="font-size: 30px;">
                            <div>
                                <button v-on:click.prevent="logout" class="btn btn-outline-error my-2 my-sm-0" type="submit">
                                    <i class="fas fa-sign-out-alt"></i> </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </header> -->
            <!-- <div id="mainPage">
                <div class="container-fluid">
                    <div class="row"> -->
                        <!-- <div id="sideBar" class="col-md-4 p-0">
                            <a class="list-group-item" href="#"> <i class="fas fa-desktop pr-3"></i> Your Site </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-chart-bar pr-3"></i> Stats </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-history pr-3"></i> Activity </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-tag pr-3"></i> Plan </a>
                            <h6 class="list-group-item" style="color:darkcyan"> Manage </h6>
                            <a class="list-group-item" href="#"> <i class="far fa-edit pr-3"></i> Site Pages </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-align-left pr-3"></i> Blog Posts </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-camera-retro pr-3"></i> Media </a>
                            <a class="list-group-item" href="#"> <i class="far fa-comments pr-3"></i></i> Comments </a>
                            <a class="list-group-item" href="#"> <i class="far fa-comment-alt pr-3"></i></i> Feedback </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-plug pr-3"></i> Plugins </a>
                            <a class="list-group-item" href="#"> <i class="fas fa-cloud-download-alt pr-3"></i> Import </a>
                            <h6 class="list-group-item" style="color:darkcyan"> Personalize </h6>
                            <a class="list-group-item" href="#"> <i class="fas fa-tools pr-3"></i> Customize </a>
                        </div> -->
                        <!-- <div id="pageContent" class="col-md-8"> -->
                            <!-- <div id="searchArticle">
                                <form v-on:submit.prevent="searchArticleByTitle">
                                    <div class="form-inline">
                                        <input type="text" v-model="searchKeyword" class="form-control" placeholder="Search your article here" style="width: 750px;"><button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div> -->
                            
                            <!-- to show all articles before search -->
                            <!-- <div id="article" v-show="!isFound">
                                <div v-for="article in articles"> -->
                                    <!-- <div class="card">
                                        <div class="row card-body">
                                            <div class="col-sm-9 col-lg-9" >
                                                <h5 class="card-title"> {{ article.title }} </h5>
                                                <h6> {{ article.created_at }} </h6>
                                                <p class="card-text"> {{ article.content }} </p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="col-sm-3 col-lg-3" style="text-align: right;">
                                                <img src="https://www.rabata.org/wp-content/uploads/2018/05/dummy.png" alt="cannot find image" style="width: 200px">
                                            </div>
                                        </div>
                                    </div> -->
                                <!-- </div>
                            </div> -->
    
                            <!-- to show filtered article -->
                            <!-- <div id="article" v-show="isFound">
                                <div v-for="article in articles">
                                    <div class="card">
                                        <div class="row card-body">
                                            <div class="col-sm-9 col-lg-9" >
                                                <h5 class="card-title"> {{ article.title }} </h5>
                                                <h6> {{ article.created_at }} </h6>
                                                <p class="card-text"> {{ article.content }} </p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="col-sm-3 col-lg-3" style="text-align: right;">
                                                <img src="https://www.rabata.org/wp-content/uploads/2018/05/dummy.png" alt="cannot find image" style="width: 200px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
    
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://kit.fontawesome.com/8b51b67b1f.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="src/main.js"></script>

</body>

</html>