* {
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: #00BCD4;
    height: 70px;
}

.menu-bar{
    background-color: white;
    height: calc(100vh - 70px);
    border-right: cornflowerblue 1px solid;
}

a:link:visited{
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 20px 0px;
}

li:hover{
    background-color: blue;
    color: white;
}