* {
    margin: 0;
    padding: 0;
}

.navbar-main{
    border-right: 1px solid white;
}
/* .navbar-menu {
    background-color: #2d3436;
} */

.sidemenu {
    display: flex;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
}
.left-menu {
    border-right: 1px solid #b2bec3 !important;
}

.right-menu {
    background-color: #f6f7f7;
    /* margin: 25px !important; */
}

.right-menu .container {
    margin: 25px !important;
}

.sidemenu-content {
    display: flex;
    flex-direction: column;
}

.sidemenu-content p {
    font-size: 12px;
}

.menu-logo {
    background-color: #c3c4c7;
    color: white;
    padding: 5px 8px;
    font-size: 18px;
    margin-right: 10px;
}

.columns {
    height: 100vh !important;
}
