<!doctype html>
<html lang="en">

<head>
    <title> Wordpress </title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/9/93/Wordpress_Blue_logo.png" type="icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <meta name="google-signin-client_id" content="812367886194-3h5plrlesel48ejkjmhst81lvd0fd1jh.apps.googleusercontent.com">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-sm navbar-dark justify-content-between d-flex py-0 pl-0"
            style="background-color: #2C6286;">
            <div class="d-flex justify-content-start">
                <button type="button" v-on:click="mySites" class="d-flex align-items-center menuUp">
                    <i class="fa fa-wordpress fa-2x ml-3 mr-2" aria-hidden="true" style="color: white;"></i>
                    My Sites &nbsp&nbsp&nbsp&nbsp
                </button>
                <button type="button" class="d-flex align-items-center menuUp">
                    <i class="fa fa-newspaper-o fa-2x ml-3 mr-2" aria-hidden="true"
                        style="color: rgb(218, 216, 216);"></i>
                    Reader &nbsp&nbsp&nbsp&nbsp
                </button>
            </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class=" btn-sm d-flex writeButton align-items-center p-2 px-4"
                        v-on:click="buttonWrite" v-if="isLogin">
                        <i class="fa fa-pencil-square-o fa-2x mr-1" aria-hidden="true" style="color: #2C6286;"></i>
                        Write
                    </button>
                    <button v-if="isLogin" type="button" class="btn rounded-circle ml-3 px-0 py-0"
                        v-on:click="profileOptions(name)"
                        style="background-image: url(''); height: 40px; width: 40px; background-size: 45px; border: 3px solid white;">
                    </button>
                    <button type="button" class="btn ml-2"><i class="fa fa-bell fa-1x" aria-hidden="true"
                            style="color: white;" v-if="isLogin"></i>
                    </button>
                    <button v-if="!isLogin" type="button" data-toggle="modal" data-target="#exampleModal4"
                        class="btn rounded-circle ml-3 px-0 py-0" v-on:click="selectLogin()"
                        style="background-image: url(''); height: 40px; width: 40px; background-size: 45px;">
                        <i class="fas fa-user-circle fa-2x" style="color: white"></i>
                    </button>
                <!--Modal-->
                <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel4" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
                        <div class="modal-content">
                            <center>
                                <div class="modal-body">
                                    <button type="button" class="btn btn-primary" data-target="#modelLogin"
                                        data-toggle="modal" data-dismiss="modal">
                                        <i class="fas fa-arrow-alt-circle-right"></i>
                                        Login
                                    </button>
                                    <button type="button" class="btn btn-success" style="margin-left: 5px;" data-target="#modelSignup" data-toggle="modal" data-dismiss="modal">
                                        <i class="fas fa-user-plus"></i>
                                        Register
                                    </button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modelLogin" tabindex="-1" style="margin-top: 100px;" role="dialog"
                    aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <nav class="navbar navbar-expand-sm mt-3 mb-3 navbar-dark dx-flex"
                                style="background-color: rgb(250, 248, 248);">
                                <section class="login-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4 login-sec">
                                                <h2 class="text-center" style="color: #2C6286;">Login Now</h2>
                                                <form class="login-form">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"
                                                            class="text-uppercase">Email</label>
                                                        <input type="text" id="email" class="form-control"
                                                            placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1"
                                                            class="text-uppercase">Password</label>
                                                        <input type="password" id="password" class="form-control"
                                                            placeholder="Password">
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <input class="btn btn-primary px-5" type="button" value="SignIn">
                                                        <input class="btn ml-1 btn-secondary" type="button" value="SignUp" data-target="#modelSignup" data-toggle="modal" data-dismiss="modal">
                                                    </div>
                                                    <div class="hr-sect">or signin with</div>
                                                    <div class="d-flex justify-content-center">
                                                            <div class="g-signin2 ml-3" data-onsuccess="onSignIn"></div>                   
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-8 banner-sec">
                                                <div id="carouselExampleIndicators" class="carousel slide"
                                                    data-ride="carousel">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                                        </li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                                        </li>
                                                    </ol>
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="carousel-item active">
                                                            <img class="d-block img-fluid"
                                                                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                                                                alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block img-fluid"
                                                                src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                                                                alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block img-fluid"
                                                                src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                                                                alt="Third slide">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Modal--- -->
                <div class="modal fade" id="modelSignup" tabindex="-1" style="margin-top: 100px;" role="dialog"
                    aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <nav class="navbar navbar-expand-sm pt-3 pb-3 navbar-dark dx-flex"
                                style="background-color: rgb(250, 248, 248);">
                                <section class="login-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4 login-sec">
                                                <h2 class="text-center" style="color: #2C6286;">Register</h2>
                                                <form class="login-form">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"
                                                            class="text-uppercase">Name</label>
                                                        <input type="text" id="email" class="form-control"
                                                            placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"
                                                            class="text-uppercase">Email</label>
                                                        <input type="text" id="email" class="form-control"
                                                            placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1"
                                                            class="text-uppercase">Password</label>
                                                        <input type="password" id="password" class="form-control"
                                                            placeholder="Password">
                                                    </div>
                                                    <div class="d-flex">
                                                        <input class="btn btn-primary d-flex align-item-center" type="button" value="SignUp">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-8 banner-sec">
                                                <div id="carouselExampleIndicators" class="carousel slide"
                                                    data-ride="carousel">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                                        </li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                                        </li>
                                                    </ol>
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="carousel-item active">
                                                            <img class="d-block img-fluid"
                                                                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                                                                alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block img-fluid"
                                                                src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                                                                alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block img-fluid"
                                                                src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                                                                alt="Third slide">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                            </nav>
                        </div>
                    </div>
                </div>
        </nav>

        <div class="container-fluid" v-if="mainPageWp">
            <div class="row">
                <div class="col-2 d-flex flex-column p-0"
                    style="background-color: #FFFFFF; overflow: scroll; height: 93vh; overflow-x: hidden ;">
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4 pt-3"
                        style="border-radius: 0;">
                        <i class="fa fa-laptop fa-2x mr-4" aria-hidden="true"></i>
                        View Site
                    </button>
                    <button type="button" class="btn btn-light d-flex pl-4 align-items-center"
                        style="border-radius: 0;">
                        <i class="fa fa-signal fa-2x mr-4" aria-hidden="true"></i>
                        Stats
                    </button>
                    <button type="button" class="btn btn-light d-flex pl-4 align-items-center"
                        style="border-radius: 0;">
                        <i class="fa fa-history fa-2x mr-4" aria-hidden="true"></i>
                        Activity
                    </button>
                    <button type="button" class="btn btn-light d-flex pl-4 align-items-center"
                        style="border-radius: 0;">
                        <i class="fa fa-clipboard fa-2x mr-4" aria-hidden="true"></i>
                        Stats
                    </button>
                    <div class="my-2 mt-3 ml-3" style="font-weight: bold; font-size: 1em;"> Manage </div>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-sticky-note fa-2x mr-4" aria-hidden="true"></i>
                        Sites Pages
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-list fa-2x mr-4" aria-hidden="true"></i>
                        Blog Post
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-image fa-2x mr-4" aria-hidden="true"></i>
                        Media
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-commenting-o fa-2x mr-4" aria-hidden="true"></i>
                        Comments
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-rss-square fa-2x mr-4" aria-hidden="true"></i>
                        FeedBack
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-plug fa-2x mr-4" aria-hidden="true"></i>
                        Plugin
                    </button>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-download fa-2x mr-4" aria-hidden="true"></i>
                        Import
                    </button>
                    <div class="my-2 mt-3 ml-3" style="font-weight: bold; font-size: 1em;"> Personalize </div>
                    <button type="button" class="btn d-flex btn-light align-items-center pl-4"
                        style="border-radius: 0;">
                        <i class="fa fa-edit fa-2x mr-4" aria-hidden="true"></i>
                        Customize
                    </button>
                </div>
                <div class="col-10" style="overflow: scroll; height: 93vh;">
                    <div class="container" v-if="mainPages" id="main-article" v-show="isLogin">
                        <nav class="navbar navbar-expand-sm mt-5 navbar-dark dx-flex"
                            style="background-color: rgb(250, 248, 248);">
                            <button type="button" class="btn d-flex btn-lighalign-items-center pl-4"
                                style="border-radius: 0;" v-on:click="published">
                                Published
                                <div class="ml-1 article-count">
                                    {{articleCount}}
                                </div>
                            </button>
                            <button type="button" class="btn d-flex btn-lighalign-items-center pl-4"
                                style="border-radius: 0;">
                                Drafts
                                <div class="ml-1 article-count">
                                    {{articleDraft}}
                                </div>
                            </button>
                            <div class="ml-auto d-flex align-items-center">
                                <form v-if="search">
                                    <input type="text"
                                        style="border-radius: 4px; outline: none; border: 1px solid rgba(44, 98, 134, 0.329); text-align: center; padding: 2px;"
                                        v-model="searchValue">
                                </form>
                                <button type="button" v-on:click="searchIt"
                                    class="ml-1 searchByName d-flex align-items-center">
                                    <i class="fa fa-search fa-1x" aria-hidden="true"></i>
                                </button>
                            </div>
                        </nav>
                    </div>
                    <div class="container" v-for="article in filterArticle" v-show="isLogin">
                        <nav v-if="mainPages" class="navbar navbar-expand-sm mt-3 mb-3 navbar-dark dx-flex"
                            style="background-color: rgb(250, 248, 248);">
                            <div id=" time1title-article" class="align-items-start d-flex flex-column">
                                <p class="btn d-flex pl-4 mt-4"
                                    style="border-radius: 0; font-weight: bolder; margin-bottom: 0; font-size: 2em;">
                                    {{article.title}}
                                </p>
                                <p class="btn d-flex pl-4 pt-0 pb-2 mt-0" style="font-size: 15px;">
                                    {{article.created_at}}
                                </p>
                            </div>
                            <div class="d-flex ml-auto">
                                <img src="https://cdnx2.kincir.com/production/2019-08/thumbnail_600/10dc8a12098a15e8a8ebcd3cc3a12e928851dee7.jpg"
                                    alt="patrict" style="height: 7em;">
                                <div class="d-flex flex-column ml-2">
                                    <button type="button" class="flex-column d-flex"
                                        v-on:click="deleteArticle(article._id)"
                                        style="height: 0px; outline: none; border: none;">
                                        <i class="fa fa-trash fa-2x mt-5 pt-3 flex-column d-flex" id="buttonDelete"></i>
                                    </button>
                                    <button type="button" class="flex-column d-flex" v-on:click="editArticle(article)"
                                        style="height: 0px; outline: none; border: none;">
                                        <i class="fas fa-edit fa-2x mt-3 flex-column d-flex" id="buttonEdit"></i>
                                    </button>
                                </div>
                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="container mt-5" v-if="quillEditor">
            <div id="editor">
                <p>My Article</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><strong>BY ANGGA x QUILL</strong></p>
                <p><br></p>
            </div>
            <form class="mt-5 col-7">
                <div class="form-group">
                    <label for="">TITLE</label>
                    <input type="text" class="form-control" v-model="createTitle" aria-describedby="helpId"
                        placeholder="Your Title">
                    <small id="helpId" class="form-text text-muted">input your title</small>
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <textarea class="form-control" v-model="createContent" rows="3"
                        placeholder="Your Content"></textarea>
                </div>
                <div class="form-group">
                    <label for="">image Content</label>
                    <input type="file" class="form-control-file" v-html="createImage" aria-describedby="fileHelpId"
                        placeholder="Your Image">
                    <small id="fileHelpId" class="form-text text-muted">your image</small>
                </div>
                <div class="d-flex justify-content-start">
                    <input class="btn btn-success" v-if="idArticle" v-on:click.prevent="updateArticle(idArticle)"
                        type="submit" value="Update">
                    <input class="btn btn-primary" v-if="!idArticle" v-on:click.prevent="createArticle" type="submit"
                        value="Create">
                    <input class="btn btn-danger ml-2" type="reset" value="Reset">
                </div>
            </form>
        </div>
        <!-- </div> -->
        <!-- <div class="container-float d-flex ml-auto"> -->
        <!-- <i class="fas fa-question-circle fa-3x ml-auto mr-4" style="margin-top: -1.2em;"></i> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="./script.js"></script>
</body>

</html>